<h1>How it works?</h1>

<p>Tired of feeling deeply hungry without anything inside refrigerator? Feeling your stomach rumble when neighbors start cooking some delicious food? Enough! With Rango™ you can find a place near you to grab some cheap, delicious food.</p>

<p>You can find a place to buy a home made meal or announce a meal if you are going to cook and wants to prepare an extra portion to offer. For both cases, just <%= link_to 'create an account', new_user_registration_path %> now.</p>

<p>If you want to offer meals, just click on Places > <%= link_to 'Create Place', new_place_path %>, tell where are you and what kind of food you have to offer.</p>


