// Place all the styles related to the Opinions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.opinion-stars {
  margin: 10px;
}

.opinion-username {
  display: inline;
  padding-left: 10px;
}

.opinion {
  a {
    text-decoration: none;
    color: #000;
  }
  .icon-star-empty {
    color: #ddd;
  }
}

.btn-to-right {
  display: inline;
  float: right;

}

.opinion-header {
  margin-top: 20px;
  margin-bottom: 20px;
  h4 {
    margin: 5px 0 0 0;
  }
}
