// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.distance-slider {
  border: 0;
  background-color: #000;
  color: #fff;
  outline:0px !important;
  -webkit-appearance:none;
}
