<div class="content">
  <div class="row">
     <div class="span9">
        <%= render :partial => 'layouts/flashes' %>
        <%= yield %>
      </div>
      <% if content_for? :sidebar %>
        <%= render :partial => 'layouts/sidebar' %>
      <% end %>
  </div><!--/row-->
</div><!--/content-->
